In [1]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [253]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
dat = pd.read_csv('train.csv')
dat.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [254]:
dat.shape
dat.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [255]:
 (dat.Survived == 0).sum()/((dat.Survived == 1).sum()+ (dat.Survived == 0).sum())

0.6161616161616161

In [256]:
print((dat.Embarked == 'C').sum())
print((dat.Embarked == 'S').sum())
print((dat.Embarked == 'Q').sum())

168
644
77

In [257]:
average = (dat.Age.sum())/(891-177)
dat.Age.fillna(average,inplace = True)
print(dat.Age.isnull().sum())

0

In [258]:
dic1 = {'male':1,'female':0}
dic2 = {'C':0,'S':1,'Q':2}
dat['Sex'] = dat['Sex'].map(dic1)
dat['Embarked'] = dat['Embarked'].map(dic2)
dat2 = dat
dat2.head()

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN       1.0
1            2         1       1  ...  71.2833    C85       0.0
2            3         1       3  ...   7.9250    NaN       1.0
3            4         1       1  ...  53.1000   C123       1.0
4            5         0       3  ...   8.0500    NaN       1.0

[5 rows x 12 columns]

In [259]:
dat2.Cabin = dat2.Cabin.fillna('U')
did = {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'T':8,'U':0}
for i in range(len(dat2.Cabin)):
  dat2.Cabin[i] = str(dat2.Cabin[i][0])
  dat2.Cabin[i] =did[dat2.Cabin[i]]
dat2.Cabin

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

0      0
1      3
2      0
3      3
4      0
      ..
886    0
887    2
888    0
889    3
890    0
Name: Cabin, Length: 891, dtype: object

In [260]:
dat2.Embarked.fillna(1,inplace = True)
dat2.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [261]:
average_fare = np.mean(dat2.Fare)
print(average_fare)

32.2042079685746

In [262]:
alm = dat2.Ticket
print(len(alm))
alm.value_counts()

891

347082        7
1601          7
CA. 2343      7
347088        6
CA 2144       6
             ..
3460          1
347064        1
2628          1
367229        1
C.A. 24579    1
Name: Ticket, Length: 681, dtype: int64

In [0]:
X = dat2.drop("PassengerId",axis = 1)
X = X.drop("Survived",axis = 1)
X = X.drop("Name",axis = 1)
X = X.drop("Ticket",axis = 1)
y = dat.Survived
S = X
R = y

In [0]:
alpha = np.mean(X)
beta = np.std(X)
X = (X-alpha)/beta

In [266]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver ='lbfgs',max_iter = 200,random_state=0).fit(X, y)
scores3 = cross_val_score(clf, X, y, cv=10, scoring = "accuracy")
print("Scores:", scores3)
print("Mean:", scores3.mean())
print("Standard Deviation:", scores3.std())

Scores: [0.81111111 0.7752809  0.76404494 0.83146067 0.79775281 0.78651685
 0.79775281 0.78651685 0.84269663 0.83146067]
Mean: 0.8024594257178528
Standard Deviation: 0.02478509519942708

In [267]:
from sklearn import ensemble
original_params = {'n_estimators': 1000, 'max_leaf_nodes': 4, 'max_depth': None, 'random_state': 2,
                   'min_samples_split': 5}
params = dict(original_params)
clg = ensemble.GradientBoostingClassifier(**params)
scores2 = cross_val_score(clg, S, R, cv=10, scoring = "accuracy")
print("Scores:", scores2)
print("Mean:", scores2.mean())
print("Standard Deviation:", scores2.std())

Scores: [0.78888889 0.83146067 0.74157303 0.87640449 0.86516854 0.83146067
 0.84269663 0.78651685 0.82022472 0.80898876]
Mean: 0.8193383270911362
Standard Deviation: 0.03788961079997054

In [268]:
from sklearn.ensemble import RandomForestClassifier
regr = RandomForestClassifier(max_depth=None, random_state=0,n_estimators = 1000,max_leaf_nodes= 4)
scores1 = cross_val_score(regr, S, R, cv=10, scoring = "accuracy")
print("Scores:", scores1)
print("Mean:", scores1.mean())
print("Standard Deviation:", scores1.std())

Scores: [0.74444444 0.76404494 0.74157303 0.82022472 0.82022472 0.84269663
 0.82022472 0.7752809  0.83146067 0.80898876]
Mean: 0.796916354556804
Standard Deviation: 0.035255543263555005

In [269]:

from sklearn.model_selection import cross_val_score
random_forest = RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=16,
                       min_weight_fraction_leaf=0.0, n_estimators=700,
                       n_jobs=-1, oob_score=True, random_state=1, verbose=0,
                       warm_start=False)
scores = cross_val_score(random_forest, S, R, cv=10, scoring = "accuracy")

print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.77777778 0.78651685 0.75280899 0.87640449 0.92134831 0.83146067
 0.79775281 0.78651685 0.87640449 0.82022472]
Mean: 0.8227215980024969
Standard Deviation: 0.05072106971454742

In [279]:
random_forest.fit(S,R)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=16,
                       min_weight_fraction_leaf=0.0, n_estimators=700,
                       n_jobs=-1, oob_score=True, random_state=1, verbose=0,
                       warm_start=False)

In [270]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (2).csv

In [271]:
tet =  pd.read_csv('test.csv')
tet.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [272]:
print((tet.Embarked == 'C').sum())
print((tet.Embarked == 'S').sum())
print((tet.Embarked == 'Q').sum())

102
270
46

In [273]:
tet.shape

(418, 11)

In [274]:
tet.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [275]:

tet.Age.fillna(average,inplace = True )
tet.Fare.fillna(average_fare,inplace = True)
print(tet.Age)
print(tet.Fare)

0      34.500000
1      47.000000
2      62.000000
3      27.000000
4      22.000000
         ...
413    29.699118
414    39.000000
415    38.500000
416    29.699118
417    29.699118
Name: Age, Length: 418, dtype: float64
0        7.8292
1        7.0000
2        9.6875
3        8.6625
4       12.2875
         ...
413      8.0500
414    108.9000
415      7.2500
416      8.0500
417     22.3583
Name: Fare, Length: 418, dtype: float64

In [276]:
dic1 = {'male':1,'female':0}
dic2 = {'C':0,'S':1,'Q':2}
tet['Sex'] = tet['Sex'].map(dic1)
tet['Embarked'] = tet['Embarked'].map(dic2)
tet2 = tet
tet2.head()

   PassengerId  Pclass  ... Cabin  Embarked
0          892       3  ...   NaN         2
1          893       3  ...   NaN         1
2          894       2  ...   NaN         2
3          895       3  ...   NaN         1
4          896       3  ...   NaN         1

[5 rows x 11 columns]

In [277]:
tet2.Cabin = tet2.Cabin.fillna('U')
dide = {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7,'T':8,'U':0}
for i in range(len(tet2.Cabin)):
  tet2.Cabin[i] = str(tet2.Cabin[i][0])
  tet2.Cabin[i] =dide[tet2.Cabin[i]]
tet2.Cabin

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

0      0
1      0
2      0
3      0
4      0
      ..
413    0
414    3
415    0
416    0
417    0
Name: Cabin, Length: 418, dtype: object

In [0]:

X1 = tet2.drop("PassengerId",axis = 1)
X1 = X1.drop("Name",axis = 1)
X1 = X1.drop("Ticket",axis = 1)


ans = random_forest.predict(X1)

In [0]:
X1.head()

In [281]:
df1 = pd.read_csv('test.csv')
df1.shape

(418, 11)

In [282]:
ans.shape

(418,)

In [0]:
df1["Survived"] = ans;

In [0]:
myans = df1[["PassengerId","Survived"]]

In [0]:
myans.to_csv('myans.csv', index = False)